* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'mine';
    src: url('../fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#vida {
    color: rgb(255, 0, 0);
    background: rgba(3, 3, 3, 0.281);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    font-family: 'mine', Arial;
    font-size: 40px;
    font-weight: normal;
}
body {
    background: url('../img/dirt.png');
    font: normal 18pt Arial;
    color: #fff;
    text-align: center;
}
h1 {
    font-size: 72px;
    font-family: 'mine', Arial;
    font-weight: normal;
    color: rgb(238, 238, 238);
}
header {
    margin-bottom: 20px;
}
#align {
    max-height: 1000px;
    background: transparent;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background: rgba(0, 0, 0, 0.205);
    border: solid 5px rgb(0, 255, 64);
    border-radius: 10px;
}
div.bloco {
    max-width: 200px;
    max-height: 200px;
    border: none;
    padding: 7px;
}
.imgbc {
    max-height: 20vw;
}
table {
    border-spacing: 0px;
}
